{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<!-- templates/registration/login.html -->

<div class="row">
    <div class="col-sm-4 col-md-7 col-xl-7 col-align-self-center custom-background-slide">
        {% load static %}
        <div class="text-center mt-5">
            <img src="{% static 'img/logo.png' %}" alt="" width="300" height="300" class="d-inline-block align-text-top">
          </div>
          
        <br>
        <h1 class="text-center">Mood Match</i></h1>
        <h3 class="text-center" >Sintoniza tus emociones</h3>
    </div>
    <div class="col-sm-7 col-md-4 col-xl-4 mt-5 align-self-center custom-background" >
        <h1 class="text-center">Mejora tu cuenta</h1>
        <form method="post" class="text-center mt-5" action=
        {% if status == 'Free' %} ""
        {% else %}
        "{% url 'moodMatch:index' %}"
        {% endif %}
        >
            {% csrf_token %}
            <div class="text-center mt-3">
                {% if status == 'New' %}
                Gracias por tu interés en premium. En cuanto esté listo el pago, te notificaremos. Mientras tanto, puedes usar premium cuanto quieras.
                {% elif status == 'Free' %}
                    ¿Aún no tienes premium? ¡Regístrate ya y obtén recomendaciones ilimitadas!
                {% elif status == 'Premium' %}
                    ¡Felicidades, ya eres premium! Te avisaremos cuando el pago esté listo. ¡Sigue disfrutando de MoodMatch!
                {% endif %}
                        </div>
            <div class="text-center mt-3">
                <button class="btn btn-dark" type="submit">
                    {% if status == 'Free' %}
                    Incripcion a Premium $
                    {% else %}
                    Volver a MoodMatch
                    {% endif %}
                </button>
            </div>
           
        </form>
    </div>
    <div class="col-sm-1 col-xl-1"></div>

</div>


{% endblock %}