<form method="post">
    {% csrf_token %}
    
    <h3>Géneros de canciones</h3>
    {% for genre in song_genres %}
      <label>
        <input type="checkbox" name="song_genres" value="{{ genre.id }}">
        {{ genre.name }}
      </label><br>
    {% endfor %}
    
    <h3>Géneros de películas</h3>
    {% for genre in film_genres %}
      <label>
        <input type="checkbox" name="film_genres" value="{{ genre.id }}">
        {{ genre.name }}
      </label><br>
    {% endfor %}
    
    <button type="submit">Guardar selección</button>
  </form>
  