{% extends 'base.html' %}
{% block content %}
<div class="choose-center">
    <h1 class="text-center title-bg ">Mood Match</h1>
    <p class = "custom-background-sel">
        ¿Cansado de buscar películas, canciones o series para ver o escuchar y no saber qué elegir? ¡Tenemos la solución perfecta para ti! Nuestra aplicación de recomendación te ofrece una experiencia única, basada en tus emociones. Ya sea que quieras sentirte feliz, emocionado, relajado o nostálgico, nuestra aplicación te proporcionará las mejores opciones de entretenimiento para satisfacer tus necesidades emocionales. ¡No pierdas más tiempo buscando y deja que nuestras recomendaciones te sorprendan!
    </p>
    <a class="btn btn-dark me-2 btn-border-radius-lg border-radius-lg" type="button" href="/choose_content">¿Comenzamos?</a>
</div>

{% endblock %}