{% extends "base.html" %}

{% block title %}¿Que deseas reproducir?{% endblock %}

{% block content %}
<div class="container choose-container">
    <div class="abs-center choose-center">
      <h1 class="title-bg">Mood Match</h1>
      Sintoniza tus emociones
      <br>
      <br>
      <div class="custom-background-sel">
        {% load static %}
        <h3>¿Nuevo por aqui?</h3>
        <p>
            ¿Cansado de buscar películas, canciones o series para ver o escuchar y no saber qué elegir? ¡Tenemos la solución perfecta para ti! Nuestra aplicación de recomendación te ofrece una experiencia única, basada en tus emociones. Ya sea que quieras sentirte feliz, emocionado, relajado o nostálgico, nuestra aplicación te proporcionará las mejores opciones de entretenimiento para satisfacer tus necesidades emocionales. ¡No pierdas más tiempo buscando y deja que nuestras recomendaciones te sorprendan!        
        </p>
        
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <img src="{% static 'img/show-info-choose-emotion.png' %}" max-width=100%  height="auto" alt="" class="d-inline-block align-text-top img-fluid">
          </div>
          <div class="col-1"></div>
        </div>
        <br>
        <br>
        <a class="btn btn-dark me-2 btn-border-radius-lg border-radius-lg" type="button" href="/choose_content">¿Comenzamos?</a>
      </div>
    </div>
  </div>
  
  {% endblock %}